<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body>
  <div class="outer">
    <div class="middle">
      <div class="main-container">
        <div class="image-wrapper">
          <div class="outer">
            <div class="middle">
              <img src="/images/signup.jpg" >
            </div>
          </div>

        </div>
        <div class="content-wrapper">
          <div class="outer content">
            <div class="middle">

              <h1>Sign UP</h1>
              <% if(errors!=""){ %>
                <p class="error"><%=errors %></p>
              <% } %>
              <form method="POST" action="/signup" id="signupform">
								<input type="text" name="name" placeholder="NAME" autocomplete="off" required>
								<input type="text" id="usernameinput" name="username" autocomplete="off" onkeyup="usernamecheck()" placeholder="USERNAME" required>
								<div id="userinfo"></div>
                <input type="email" name="email" autocomplete="off" placeholder="EMAIL" required>
                <input type="password" name="password" placeholder="PASSWORD" minlength="8" required>
								<input type="text" name="question" autocomplete="off" placeholder="SECURITY QUESTION" required>
								<input type="password" name="answer" autocomplete="off" placeholder="ANSWER" required>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
var usernamestat=false;
var captchakey= Math.floor(Math.random()*6)+1;
var captcharray=["R48EK", "CEPT6", "AWRTB", "MUX2S", "VETRC", "DT6JX"];
var path="/images/captcha/"+captchakey+".jpg";
document.getElementById("signupform").innerHTML+="<img src="+path+" class='captchaimg'><input type='text' id='captchavalue' name='captcha' placeholder='CAPTCHA' required><button type='submit' id='submitbtn'>Let Me In!!!</button>";
function usernamecheck() {
  var xhttp = new XMLHttpRequest();
  var username=document.getElementById("usernameinput");
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      if(this.responseText=="1"){
        document.getElementById("userinfo").innerHTML="<p class='available'>Username Available</p>";
        usernamestat=true;
      }
      else if(this.responseText=="0"){
        document.getElementById("userinfo").innerHTML="<p class='notavailable'>Username Taken</p>";
        usernamestat=false;
      }
    }
  };
  xhttp.open("GET", "/usercheck?username="+username.value, true);
  xhttp.send();
}

document.getElementById("submitbtn").addEventListener("click", function(e){
  if(!usernamestat){
    e.preventDefault();
  }
  if(captcharray[captchakey-1]!=document.getElementById("captchavalue").value){
    e.preventDefault();
    alert("Invalid Captcha");
    window.location.reload();
  }
});


</script>
</body>

<html>
