<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800" rel="stylesheet"> 
	

</head>
<body>
<% function selectorUtility(value, str){
    if(value.toString()==str.toString()){
        return 'selected';
    }
} %>
    
    