body{
    height: 100%;
    width: 100%;
    background-image: url("https://images7.alphacoders.com/857/thumb-1920-857340.jpg");
    /*color: white !important;*/
    
}

.container.results{
    background: #556270!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#FF6B6B, #556270)!important;
    background: -moz-linear-gradient(#FF6B6B, #556270)!important;
    background: -o-linear-gradient(#FF6B6B, #556270)!important;
    background: linear-gradient(#FF6B6B, #556270)!important;  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container.showbox{
    background: #556270!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#FF6B6B, #556270)!important;
    background: -moz-linear-gradient(#FF6B6B, #556270)!important;
    background: -o-linear-gradient(#FF6B6B, #556270)!important;
    background: linear-gradient(#FF6B6B, #556270)!important;  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container.infobox{
    background: #8e9eab!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(bottom, #eef2f3, #8e9eab)!important;
    background: -moz-linear-gradient(bottom, #eef2f3, #8e9eab)!important;
    background: -o-linear-gradient(bottom, #eef2f3, #8e9eab)!important;
    background: linear-gradient(to top, #eef2f3, #8e9eab)!important;  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.segment{
    /*background-color: #7952B3 !important;*/
    /*color: white !important;*/
}
.ui{
    font-family: "Rajdhani" !important;
}

.video.icon{
    font-size: 2em;
}
.container.main{
    margin-top: 7em;
}
.genre{
    text-transform: capitalize;
}
.container.searchbar{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;

    background: #D1913C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(bottom, #FFD194, #D1913C);
    background: -moz-linear-gradient(bottom, #FFD194, #D1913C);
    background: -o-linear-gradient(bottom, #FFD194, #D1913C);
    background: linear-gradient(to top, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
label{
    font-size: 1.1em;
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
   

    /*color: white !important;*/
}
.searchagainbtn{
    margin: 0 auto 4em auto;
    left: 50% !important;
    display: inline-block;
    position: relative;
    transform: translateX(-50%)!important;
    
}

.showimage{
    margin-left: auto;
    margin-right: auto;
}
.ui.header
{
    text-align: center;
    /*color: white !important;*/
}
.image.results{
    margin: inherit;
}

.container.results{
    text-align: center;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    text-align: center;
    position: fixed !important;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.pagenavbtn{
    margin: 0 auto 4em auto;
    left: 50% !important;
    display: inline-block;
    position: relative;
    transform: translateX(-50%)!important;
    
    
}
.black.button.recent{
    width:100%;
    margin: 1em 0 0 0;
}

