<html>
    <head>
        <title>
            Movie App
        </title>
        <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,600,700" rel="stylesheet"> 
        
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        
        
        

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                    <i class="video icon"></i>
                    Movie App
                </div>
                <a href="/" class="item">Home</a>
            </div>
            
        </div>
